<footer class="py-3">
    <ul class="nav justify-content-center pb-3 mb-3 footerNavText">
      <li class="footer-item"><a href="index.html" id="footerNavText" class="nav-link px-2">Inicio</a></li>
      <li class="footer-item"><a href="productos.html" id="footerNavText" class="nav-link px-2">Productos</a></li>
      <li class="footer-item"><a href="nosotros.html" id="footerNavText" class="nav-link px-2">Nosotros</a></li>
      <li class="footer-item"><a href="contacto.html" id="footerNavText" class="nav-link px-2">Contactanos</a></li>
      <li class="footer-item"><a href="preguntas.html" id="footerNavText" class="nav-link px-2">Preguntas Frecuentes</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 PipaCompany</p>
</footer>