<div id="navBar">
  <nav class="navbar navbar-expand-lg fixed-top navColor">
    <div class="container">
      <a class="navLogo" href="index.html">Poleras 👽</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-0 ms-auto containerResponsiveMenu">
          <li class="nav-item">
            <a
              class="nav-link"
              id="navText"
              aria-current="page"
              href="index.html"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navText" href="productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navText" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navText" href="contacto.html"
              >Contactanos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navText" href="preguntas.html"
              >Preguntas Frecuentes</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
